<ion-view view-title="Reportes" ng-init="find()">
     

  <ion-content>
    <ion-list>
      <ion-item href="#/tab/listaTodos">  
      	Todos
      </ion-item>
      <ion-item href="#/tab/ultimaSemana">  
      	Ultima semana
      </ion-item>
      <ion-item href="#/tab/enero">  
      	Enero
      </ion-item>
      <ion-item href="#/tab/febrero">  
      	Febrero
      </ion-item>
      <ion-item href="#/tab/marzo">  
      	Marzo
      </ion-item>
      <ion-item href="#/tab/abril">  
      	Abril
      </ion-item>
      <ion-item href="#/tab/mayo">  
      	Mayo
      </ion-item>
      <ion-item href="#/tab/junio">  
      	Junio
      </ion-item>
      <ion-item href="#/tab/julio">  
      	Julio
      </ion-item>
      <ion-item href="#/tab/agosto">  
      	Agosto
      </ion-item>
      <ion-item href="#/tab/septiembre">  
        Septiembre	
      </ion-item>
      <ion-item href="#/tab/octubre">  
      	Octubre
      </ion-item>
      <ion-item href="#/tab/noviembre">  
      	Noviembre
      </ion-item>
      <ion-item href="#/tab/diciembre">  
      	Diciembre
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>