<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Bienvenido a SatApp</h2>
      <div class="list card">

  <div class="item item-avatar">
    
    <h2>Qué hacer en caso de deslizamiento?</h2>
    
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="img/obrajes1.jpg">
    <p>
     <h3>Antes</h3>
    <ul>
      <li>Conserve la calma.</li>
      <li>Corra al lugar cercano más seguro. No pierda tiempo recogiendo pertenencias.</li>
      <li>Trate de evadir el material que desciende, corriendo en forma lateral.</li>
      <li>Aléjese de estructuras que puedan derrumbarse. No ingrese a zonas afectadas o que puedan deslizarse.</li>
      <li>Infunda serenidad y ayude a los demás, especialmente niños, ancianos, discapacitados y personas en pánico.</li>
      <li>Para rescatar a alguien, use cuerdas, extensiones, palos y lo que tenga que sea seguro para usted y los demás. Trabaje con otras personas.</li>
      <li>Si está en un vehículo vaya rápidamente a un lugar seguro, o sálgase del mismo.</li>
    </ul>
    <h3>Despues</h3>
    <ul>
      <li>Manténgase alejado del área del deslizamiento. Puede haber peligro de nuevos deslizamientos.</li>
      <li>Revise si hay personas heridas o atrapadas cerca al área del deslizamiento.</li>
      <li>Preste ayuda y apoyo. Para rescatar a alguien, use cuerdas, extensiones, palos y lo que tenga que sea seguro para usted y los demás. Trabaje  con otras personas.</li>
      <li>Ayude a quienes pueden requerir asistencia: sus vecinos, niños, adultos y discapacitados.</li>
      <li>Sintonice las noticias sobre la emergencia.</li>
      <li>Recuerde que pueden ocurrir inundaciones después del flujo de lodo o de escombros.</li>
      <li>Revise daños en líneas de servicios y reporte cualquier daño a las entidades encargadas del mantenimiento.</li>
    </ul> 
    </p>

  </div>

</div>

  </ion-content>
</ion-view>
